@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-image: url(gradienta-m_7p45JfXQo-unsplash.jpg);
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
.p1 {
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
}
div img {
    width: 400px;
    height: 300px;
    float: right;
    margin-right: 100px;
    position: sticky;
}

.container-myworks {
    padding: 30px;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    position: sticky;
  }
  .one {
    background-image: url(ruth.jpg);
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    background-image: url(ruth.jpg);
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    grid-column: 1 / 3;
    grid-row: 1;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    background-image: url(ruth.jpg);
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    background-image: url(ruth.jpg);
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    background-image: url(ruth.jpg);
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    background-image: url(ruth.jpg);
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    grid-column: 3;
    grid-row: 4;
  }
nav {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
    font-size: 30px;
    font-weight: bold;
    
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: mediumvioletred;
    text-decoration: underline;
}
header {
    padding: 20px;
}
h1 {color: rgba(104, 5, 5, 0.733);
    font-family: cursive;
    text-shadow: cyan 2px 2px;
    display: flex;
}
.about-container
.p1 {
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    margin-top: 300px;
}
div img {
    width: 500px;
    height: 500px;
    float: right;
    margin-right: 100px;
    position: sticky;
    margin-bottom: 50px;
}
button {
    background-color: rgb(87, 5, 5);
    font-size: 35px;
    color: wheat;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 0px;
    margin-left: 400px;
    margin-bottom: 0px;
    top: 0px;
}

footer {
    margin-top: 500px;
    padding: 10px;
    background-color: rgb(39, 36, 36);
    opacity: 3, 3, 3, 3;
    color: white;
}
.site {
    letter-spacing: 1px;
}
.sitelinks {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
}
.sitelinks a {
    color: white;
    justify-content: space-around;
    padding-bottom: 5px;
}
.sitelinks a:hover {
    color: violet;
}
.fa {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
}
.fa-facebook {
    color: rgb(2, 53, 112);
    padding: 10px;
}
.fa-linkedin {
    color: rgb(8, 142, 231);
    padding: 10px;
}
.fa-github {
    padding: 10px;
}
.fa-instagram {
    padding: 10px;
}
/* [ON BIG SCREENS] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    /* Optional */
    position: sticky;
    top: 0;
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: #401408; }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label {
      display: inline-block;
      color: white;
      background: #a02620;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  
  /* [DOES NOT MATTER] */
  html, body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
  }
  
@media screen and (max-width: 768px){
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-image: url(gradienta-m_7p45JfXQo-unsplash.jpg);
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
.container {
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    width: 30%;
    font-size: 24px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: mediumvioletred;
    text-decoration: underline;
}
header {
    padding: 20px;
}
.btn {
    background-color: rgb(116, 7, 7);
    font-size: 15px;
    color: wheat;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 200px;
    margin-left: 400px;
}
footer {
    margin-top: 600px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: rgb(39, 36, 36);
    opacity: 3, 3, 3, 3;
    color: white;
}
.site {
    letter-spacing: 1px;
}
.sitelinks {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
}
.sitelinks a {
    color: white;
    justify-content: space-around;
    padding-bottom: 5px;
}
.sitelinks a:hover {
    color: violet;
}
.fa {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
}
.fa-facebook {
    color: rgb(2, 53, 112);
    padding: 10px;
}
.fa-linkedin {
    color: rgb(8, 142, 231);
    padding: 10px;
}
.fa-github {
    padding: 10px;
}
.fa-instagram {
    padding: 10px;
}
@media screen and (max-width: 600px min-width: 250px){
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    body {
        background-image: url(gradienta-m_7p45JfXQo-unsplash.jpg);
        background-color: white;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        scroll-behavior: smooth;
    }
    .container {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        width: 30%;
        font-size: 24px;
        font-weight: bold;
        
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: mediumvioletred;
        text-decoration: underline;
    }
    header {
        padding: 20px;
    }
    header h2 {
        color: crimson;
        text-shadow: cyan 2px;
    }
    .btn {
        background-color: rgb(116, 7, 7);
        font-size: 15px;
        color: wheat;
        border: none;
        border-radius: 10px;
        text-align: center;
        margin-top: 200px;
        margin-left: 400px;
    }
    footer {
        margin-top: 300px;
        padding: 10px;
        background-color: rgb(39, 36, 36);
        opacity: 3, 3, 3, 3;
        color: white;
    }
    .site {
        letter-spacing: 1px;
    }
    .sitelinks {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        justify-content: space-around;
    }
    .sitelinks a {
        color: white;
        justify-content: space-around;
        padding-bottom: 5px;
    }
    .sitelinks a:hover {
        color: violet;
    }
    .fa {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 10px;
    }
    .fa-facebook {
        color: rgb(2, 53, 112);
        padding: 10px;
    }
    .fa-linkedin {
        color: rgb(8, 142, 231);
        padding: 10px;
    }
    .fa-github {
        padding: 10px;
    }
    .fa-instagram {
        padding: 10px;
    }