body {
    background-image: url(gradienta-m_7p45JfXQo-unsplash.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
form {
    
    background-color: rgba(0, 0, 0, 0.810);
    float: right;
    max-width: 500px;
}
form h2 {
    padding: 10px 40px 0px 40px;
}
form p {
    padding: 0px 40px 0px 40px;
    font-size: 12px;
}
input {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 10px 10px 35px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    width: 350px;
}
input[type=submit] {
    background-color: rgb(11, 75, 250);
    color: white;
    font-size: 14px;
}
.follow {
    margin-top: 100px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}